<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SecureAuth — Accueil</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <main class="page">
    <section class="auth-card">
      <div class="brand">
        <div class="brand-text">
          <h1>Vous êtes connecté </h1>
          <p>Bienvenue <strong>{{ user }}</strong></p>
        </div>
      </div>
      <a class="btn secondary full" href="{{ url_for('logout') }}">Se déconnecter</a>
    </section>
  </main>
</body>
</html>
